.calcTaxButton{
    display: inline-block;
    text-align: left;
    margin-top:-5px;
}

.calcContainer{
    position: relative;
    text-align: right;
    margin-right: 15px;
}

.minimumWageInput{
    text-align: left;
    display: inline-block;
}

